@media (max-width: 1680px) {

}
@media (max-width: 1410px) {


}
@media (max-width: 1365px) {

}

@media (max-width: 1279px) {
	.wrapper-content{
		width: 1000px;
	}	
}	


@media (max-width: 999px){
	.wrapper-content{
		width: 768px;
	}		
}

@media (max-width: 767px) {
	.wrapper-content{
		width: 100%;
		padding: 0 15px;
	}



}
@media (max-width: 660px) {

}
@media (max-width: 620px) {

}

@media (max-width: 475px){

}
@media (max-width: 445px) {

}

@media (max-width: 320px) {	
	
}