 html{
	height: 100%;
	width: 100%;
}
body{
	margin: 0;
	color: #000000;
	font-size: 14px;
	font-family: 'Ubuntu', sans-serif;
	line-height: normal;
	background: #ffffff;
	position: relative;
	width: 100%;
	min-height: 100%;
	min-width: 320px;
}

.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear: both;
	visibility: hidden;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

h1, h2, h3, h4, h5, h6{
	margin: 0 0 20px 0;
}
h2{
	font-size: 40px;
	line-height: 46px;
	font-weight: 600;
	color: #e1524b;
	text-transform: uppercase;
}
h2 span {

}
p {
	margin: 0 0 20px 0;
	font-size: 14px;
	line-height: 23px;
	font-weight: 400;
	color: #7f8c8c;
}
img{
	display: block;
	max-width: 100%;
}

/*== buttons
---------------------------------*/
button{
	margin:0;
	padding:0;
	border:none;
	background:none;
	cursor:pointer;
	overflow:visible;
	width:auto;
	outline: none;
}
button:hover , button:focus , button:active{
	outline: none;
}
button.button::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
button.button { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
.button{
	display: block;
	position: relative;
	width: 355px;
	height: 48px;
	background: transparent;	
	color: #fefefe;
	font-size: 24px;
	line-height: 26px;
	font-weight: 300;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.button:before{
    position: absolute;
    top: -11px;
    left: -13px;
    content: "";
    width: 368px;
    height: 59px;
    border: 1px solid #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.button:after{
	position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    width: 366px;
    height: 59px;
    border: 1px solid #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.3s;
}
.button:hover{
	background: #384245;
	transition: 0.3s;
}
button:active,
button:focus{
	outline: none;
}

/*== inputs
---------------------------------*/
input{
	outline: none;
	border: none;
}
.input-text,
textarea{
	display: block;
	margin: 0;
	padding: 5px 10px 5px 10px;
	height: 38px;
	width: 100%;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color:#333333;
	resize: none;
	outline: none;
	border: 1px solid #cacaca;
}
.b-input-text::-webkit-input-placeholder{
	color: #666;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}
.b-input-text:-moz-placeholder{
	color: #666;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}
select{
	outline: none;
}
.b-select{
	width: 100%;
	height: 54px;
	border: 1px solid #d6dfcc;    
	color: #323232;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;    
	background: #ffffff url(../images/select-arrow.png);
	background-position: right 15px center;
	background-repeat: no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	-ms-appearance: none;
	appearance: none !important;        
}
.b-input-text{
	outline: none;  
}
textarea{
	height:80px;
}
.fancybox-enabled{
	padding: 0 17px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-container{
	background-image: -webkit-linear-gradient(bottom, #f5f7fc 0%, #f2f5fd 99%, #f2f5fd 100%);
	background-image: -o-linear-gradient(bottom, #f5f7fc 0%, #f2f5fd 99%, #f2f5fd 100%);
	background-image: linear-gradient(to top, #f5f7fc 0%, #f2f5fd 99%, #f2f5fd 100%);
	min-height: 100vh;
}
.wrapper-content{
	width: 1170px;
	margin: 0 auto 0;
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
}
.fancybox-container{
	z-index: 999999;
}
.b-content{
	padding: 0 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	flex-grow: 1;
}
/* End Total css ====*/
/* -------------- page index -------------- */
.b-header{
	padding: 11px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: sticky;
	top: 0;
    background-image: -webkit-linear-gradient(bottom, #f5f7fc 0%, #f2f5fd 99%, #f2f5fd 100%);
    background-image: -o-linear-gradient(bottom, #f5f7fc 0%, #f2f5fd 99%, #f2f5fd 100%);
    background-image: linear-gradient(to top, #f5f7fc 0%, #f2f5fd 99%, #f2f5fd 100%);
    z-index: 2000;	
}
.b-header-wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;	
}
.b-header-left{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.menu-ico{
	width: 28px;
	height: 28px;
	border: 2px solid #2a53c0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    cursor: pointer;
    margin: 0 10px 0 0;
    flex-shrink: 0;
}
.menu-icon{
    position: relative;
    z-index: 20;
	transition: 0.3s;
	top: 0;
}
.menu-ico.active .menu-icon{
	transition: 0.3s;
	top: -4px;
}
.menu-icon__wrapper{
	position: relative;
	width: 14px;
	height: 9px;
	margin: 0 0px 0 0;
}
.menu-icon .b-menu__line {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background: #2a53c0;
    -webkit-transition: background-color 0.35s, -webkit-transform 0.175s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: background-color 0.35s, transform 0.175s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
    border-radius: 120px;
}
.menu-icon .b-menu__line_1 {
    top: 0;
}
.menu-icon .b-menu__line_2 {
    top: 4px;
}
.menu-icon .b-menu__line_3 {
    top: 8px;
}
.menu-ico.active .b-menu__line {
    background: #2a53c0;
}
.menu-ico.active .b-menu__line_1 {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
    top: 0px;
}
.menu-ico.active .b-menu__line_2 {
    opacity: 0;
}
.menu-ico.active .b-menu__line_3 {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
    top: 16px;
}

.b-header-right{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.b-header-nav{
	margin: 0 30px 0 0;
}
.b-header-nav ul{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0;
	margin: 0;
}
.b-header-nav ul li{
	list-style: none;
	margin: 0 26px 0 0;
}
.b-header-nav ul li:last-child{
	margin: 0;
}
.b-header-nav ul li a{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: #353535;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;	
}
.b-header-nav ul li a img{
	margin: 0 10px 0 0;
}


.b-sms{
	background: url(../images/sms-ico.png);
	width: 24px;
	height: 16px;
	position: relative;
	margin: 0 0 0 25px;
}
.b-sms__n{
	position: absolute;
	top: -10px;
	right: -9px;
	background: cyan;
	border-radius: 100%;
	color: #353535;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;		
	padding: 2px 6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


#b-lang_msddHolder	{
	outline: none !important;
}
#b-lang_msddHolder div{
	outline: none !important;
}
select{
	outline: none !important;
}
.dd{
	outline: none;
	width: 128px !important;
	height: 28px;
	border: 1px solid #bbc5df;
	background: url(../images/select-arrow.png) no-repeat;
	background-position: right 10px center;
	border-radius: 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
}
.ddTitleText{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #353535;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;		
}
.ddTitleText img{
	margin: -2px 7px 0 0;
}
.ddChild  ul{
	padding: 0;
	margin: 0;
}
.ddChild  li{
	display: flex;	
	justify-content: flex-start;
	align-items: center;
	color: #353535;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;	
	list-style: none;
	padding: 10px 5px 10px 21px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}
.ddChild  li:hover{
	background: rgba(93, 91, 91, 0.3);
	transition: 0.3s;
}
.ddChild  li:active{
	background: #bbc5df;
	transition: 0.3s;
}
.ddChild  li img{
	margin: 0 10px 0 0;
}
.ddChild {
	border: 1px solid #bbc5df;
	background: #bbc5df;
	width: 128px;
	left: 0;
	width: 100%;
}

/* -------------- page b-footer -------------- */
.b-aside{
	background: #264fbf;
	width: 55px;
	flex-shrink: 0;
}
.b-aside-content{
	position: fixed;	
	background: #264fbf;
	height: 100vh;
	top: 0;
	overflow: auto;
	z-index: 30;
}
.b-aside-content::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.b-aside-wrap{
	position: relative;
	height: 100%;
}
.b-aside-wrap:before{
	position: absolute;
	right: 300px;
	top: 0;
	content: "";
	background: url(../images/menu-bg.jpg) top center no-repeat;
	height: 100%;
	min-height: 689px;
	width: 234px;
	z-index: 10;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s;	
}
.b-aside-wrap ul{
	padding: 0;
	margin: 40px 0 0 0;
}
.b-aside-wrap ul:first-child{
	margin: 0;
}
.b-aside-wrap ul li{
	list-style: none;
}
.b-aside-wrap ul li a{
	display: flex;
	justify-content: flex-start;
	align-content: center;
	font-size: 13px;
	line-height: 15px;
	color: #ffffff;
	font-weight: 400;	
	text-decoration: none;
}
.b-aside-wrap ul li a span{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	width: 234px;
	padding: 0 0 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	z-index: 11;
	left: -300px;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s;
	text-decoration: none;
	position: absolute;
}
.b-aside-wrap ul li a:hover span{
	color: #00c4d1;
	transition: 0.3s;
}
.b-aside-wrap .b-aside-nav__2 li a span{
	border: none;
}
.b-aside-nav__ico{
	width: 55px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.b-aside-nav__ico:after{
	position: absolute;
	bottom: 0;
	left: 50%;
	content: "";
	width: 7px;
	height: 1px;	
	margin: 0 0 0 -3.5px;
    background: rgba(255, 255, 255, 0.2);
}
.b-aside-nav__ico img{
	margin: 0 auto 0;
}
.b-copyright{
	position: relative;
	z-index: 11;
	padding: 20px 0 15px 74px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #ffffff;
	font-size: 12px;
	line-height: 14px;
	font-weight: 300;
	display: none;
}
.b-aside.active .b-aside-wrap:before{
	right: 0px;
	visibility: visible;
	opacity: 1;
	transition: 0.3s;
}
.b-aside.active .b-aside-wrap ul li a span{
	left: 0px;
	visibility: visible;
	opacity: 1;
	transition: 0.3s;
	position: relative;
}
.b-aside.active .b-copyright{
	display: block;
}
.b-aside.active{
	z-index: 20001;
}

/* -------------- b-main -------------- */
.b-main{
	padding: 0 0 25px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-main-top{
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
}
.b-main-top__left{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 3px;
	padding: 0 10px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-main-block{
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
	background: #ffffff url(../images/main-block__bg.png) no-repeat;
	background-position: right top 30px;
	padding: 16px 15px 16px 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-main-block__left{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 15px 0 0;
}
.b-main-block__item{

}
.b-main-block__item span{
	display: block;
	color: #353535;
	font-size: 13px;
	font-weight: 500;
	line-height: 16px;
	margin: 0 0 5px 0;	
}
.b-main-block__item b{
	display: block;
	color: #2a53c0;
	font-size: 22px;
	font-weight: 700;
	line-height: 26px;
}
.b-main-block__right{

}
.b-main-block__right ul{
	padding: 0;
	margin: 0;
}
.b-main-block__right ul li{
	list-style: none;
	margin: 0 0 12px 0;
}
.b-main-block__right ul li:last-child{
	margin: 0;
}
.b-main-block__right ul li a{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
	color: #353535;
	text-decoration: none;
}
.b-main-block__right ul li a img{
	margin: 0 5px 0 0;
}
.b-main-block__right ul li a:hover{
	text-decoration: underline;
}


.b-main-row{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 13px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-main-col{
	margin: 0 25px 0 0;
}
.b-main-col:last-child{
	margin: 0;
}
.b-main-item{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0 0 12px 0;
}
.b-main-item:last-child{
	margin: 0;
}
.b-main-item__ico{
	width: 17px;
	height: 17px;
	background: #2750bf;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 8px 0 0;
}
.b-main-item span{
	color: #262525;
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
}


.b-main__income{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 190px
}
.b-main__income__top{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 13px 0 13px 0;
}
.b-main__income__top__ico{
	background: url(../images/b-main__income__top__ico.png) no-repeat;
	width: 17px;
	height: 15px;
	margin: 0 10px 0 0;
}
.b-main__income__top span{
	color: #353535;
	font-size: 12px;
	line-height: 14px;
	font-weight: 700;
	text-transform: capitalize;
}

.b-main__income ul{
	padding: 0;
	margin: 0;
}
.b-main__income ul li{
	list-style: none;
	color: #353535;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px solid #f6f6f6;
}
.b-main__income ul li b{
	color: #2a53c0;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
}

.b-main-right{
	background: url(../images/main-right__bg.png) no-repeat;
	background-size: cover;
	width: 272px;
	text-align: center;
	padding: 16px 10px 16px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 0 12px;
}
.b-main-right b{
	display: block;
	color: #ffffff;
	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
}
.b-main-right p{
	color: #ffffff;
	font-size: 12px;	
	font-weight: 400;
	line-height: 17px;
	margin: 5px 0 10px 0;
}
.btn-like{
	width: 160px;
	height: 30px;
	background: cyan;
	border-radius: 15px;
	color: #2951c0;
	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
	display: block;
	margin: 0 auto 0;
}



.b-row{
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	margin: 0 -5px;
}
.b-col{
	padding: 0 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}
.col-7{
	width: 56%;
}
.b-block-title{
	display: block;
	color: #252525;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	margin: 15px 0;
}
.b-block{
	background: #ffffff;
	border-radius: 3px;	
}
.b-main-table{

}
.b-main-table table{
	width: 100%;
}
.b-main-table table tr td{
	text-align: center;
	padding: 4px 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-main-table table thead tr td{
	color: #a2a2a2;
	font-size: 13px;
	font-weight: 300;
	line-height: 15px;
}
.b-main-table table tbody tr td {

}
.b-main-table table tbody tr td span{
	font-size: 13px;
	line-height: 15px;
	color: #474747;
	font-weight: 400;
}
.b-main-table table tbody tr td b{
	font-size: 13px;
	line-height: 15px;
	color: #2851bf;
	font-weight: 700;
}
.b-main-table table tbody tr:nth-child(odd) td{
	background: #f3fcfc;
}
.btn-order{
	width: 84px;
	height: 25px;
	background: #3056c2;
	border-radius: 13px;
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
	transition: 0.3s;
}
.btn-order:hover{
	transition: 0.3s;
	background: #0033c3;
}
.col-5{
	width: 44%;
}
.b-video{
	display: flex;
	justify-content: space-between;
	align-content: flex-start;
    padding: 19px 10px 19px 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
}
.b-video__left{

}
.b-video__left ul{
	padding: 0;
	margin: 0;
}
.b-video__left ul li{
	list-style: none;
	margin: 0 0 11px 0;
}
.b-video__left ul li:last-child{
	margin: 0;
}
.b-video__left ul li a{
	color: #474747;
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
}
.b-video__right{
	width: 319px;
	height: 199px;	
	background: #2953c0;
	border-radius: 3px;
	position: relative;
}
.b-video__wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-play{
	width: 49px;
	height: 34px;
	background: url(../images/play-ico.png) no-repeat;
}


.b-block-news{
	padding: 1px 10px 2px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-block-news__item{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 16px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-block-news__item:last-child{
	margin: 0;
}
.b-block-news__item__img{
	margin: 0 10px 0 0;
	background: #e8e8e8;
	border-radius: 3px;
	overflow: hidden;
}
.b-block-news__item__text{

}
.b-block-news__item__text span{
	display: block;
	color: #13c6ea;
	font-size: 14px;
	font-weight: 400;
	line-height: 15px;
}
.b-block-news__item__text p{
	margin: 0;
	color: #353535;
	font-size: 13px;
	font-weight: 500;
	line-height: 15px;
}

.b-schedule{
	padding: 25px 15px 26px 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/* -------------- page faq -------------- */
.b-wrapper{
	background: #ffffff;
	border-radius: 3px;
	padding: 12px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-faq{
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
}
.b-faq-left{
	border-right: 1px solid #2953c0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-faq ul{
	padding: 0;
	margin: 0;
}
.b-faq ul li{
	list-style: none;
}
.b-faq ul li a{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 22px 50px 22px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0px 3px 7px -5px rgba(195, 189, 189, 0.75);
	-moz-box-shadow:    0px 3px 7px -5px rgba(195, 189, 189, 0.75);
	box-shadow: 0px 3px 7px -5px rgba(195, 189, 189, 0.75);
	text-decoration: none;
	color: #353638;
	position: relative;
}
.b-faq ul li:last-child a{
	box-shadow: none;
}
.b-faq ul li a:after {
	right: 0%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(41, 83, 192, 0);
	border-right-color: #2953c0;
	border-width: 9px;
	margin-top: -5px;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
}
.b-faq-ico{
	width: 30px;
	margin: 0 20px 0 0;
}
.b-faq-ico img{
	margin: 0;
}
.b-faq ul li a b{
	color: #353638;
	font-size: 11px;
	font-weight: 700;
	line-height: 13px;
	text-transform: uppercase;
}
.b-faq ul li a:hover{
	text-decoration: underline;
}
.b-faq ul li a:hover b{
	color: #2953c0;
}
.b-faq ul li a.active{
	text-decoration: underline;
	color: #2953c0;
}
.b-faq ul li a.active b{
	color: #2953c0;
}
.b-faq ul li a.active:after{
	opacity: 1;
	visibility: visible;
	transition: 0.3s;
}
.tab-pane{
	display: none;
}
.tab-pane.active{
	display: block;
}
.b-faq-right{
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-faq-right b{
	display: block;
	color: #353638;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	margin: 0 0 10px 0;	
}
.b-faq-right p{
	color: #353638;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	margin: 0 0 25px 0;
}
.b-faq-right p:last-child{
	margin: 0;
}


/* -------------- page finance -------------- */
.b-main-nav{
	margin: 0 0 15px 0;
}
.b-main-nav ul{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.b-main-nav ul li{
	list-style: none;
	margin: 0 5px 0 0;
}
.b-main-nav ul li a{
    padding: 8px 10px;
	display: block;
	border: 1px solid #2a55c1;
	border-radius: 17px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	color: #202020;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	text-decoration: none;
	transition: 0.3s;
}
.b-main-nav ul li a:hover{
	transition: 0.3s;
	background: #2a55c1;
	color: #ffffff;
}
.b-main-nav ul li a.active{
	transition: 0.3s;
	background: #2a55c1;
	color: #ffffff;
}


.b-finance{
	padding: 0 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-finance-top{
	margin: 0 0 25px 0;
}
.b-title{
	color: #1f1d1d;
	font-size: 14px;
	font-weight: 600;
	line-height: 16px;
	display: block;
	margin: 0 0 15px 0;
}
.b-finance-top p{
	color: #585858;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin: 0;
}
.b-finance-top span{
	display: block;
	color: #2a55c1;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	margin: 15px 0 0 0;
}
.b-finance-row{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.b-finance-item{

}
.b-finance-item__title{
	color: #1f1d1d;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	display: block;	
	margin: 0 0 7px 0;
}
.b-finance-item .dd{
	width: 344px !important;
	height: 37px;
	display: flex;
	justify-content: flex-start;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 2px solid #d1d1d1;
}
.arrow{
	background: url(../images/bigArrow.png) no-repeat;
	width: 40px;
	height: 32px; 
	margin: 25px 45px 0 45px;
}
.b-finance-input{
	width: 344px;
	height: 37px;
	background: transparent;
	border: 2px solid #d1d1d1;
	border-radius: 19px;	
	padding: 0 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-finance-bottom{
	margin: 36px 0 20px 0;
}
.b-finance-input__big{
	width: 149px;
	height: 56px;
	background: transparent;
	border: 2px solid #d1d1d1;
	border-radius: 19px;
	padding: 10px ;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-checkbox{
    display: block;
}
.b-checkbox input[type="checkbox"]{
    display: none;
}
.b-checkbox input[type="checkbox"] + label span{
	display: block;
	width: 18px;
	height: 18px;
	background: transparent;
	border: 1px solid #d1d1d1;
	border-radius: 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 10px 0 0;
}
.b-checkbox input[type="checkbox"] + label{
    cursor: pointer;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.b-checkbox input[type="checkbox"]:checked + label span{
	display: block;
	width: 18px;
	height: 18px;
	border: 1px solid #d1d1d1;
	border-radius: 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(../images/check.png) center no-repeat;
	background-size: 12px;
}
.b-checkbox input[type="checkbox"]:checked + label{
    color: #000000;
}
.b-checkbox input[type="checkbox"] + label i{
	font-style: normal;
	color: #585858;
	font-size: 13px;
	font-weight: 400;
	line-height: 15px; 
}
.btn-send{
	width: 180px;
	height: 32px;
	background: #2a55c1;
	border-radius: 16px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	display: block;
	margin: 25px 0 0 0;	
	transition: 0.3s;
}
.btn-send:hover{
	background: #002a92;
	transition: 0.3s;
}

.finance-obmen .b-finance-item:last-child{
	margin: 25px 0 0 0;
}
.finance-obmen  .arrow{
	margin-top: 75px;
}
.finance-vuvod .b-finance-bottom{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 20px 0;
}
.finance-vuvod .b-finance-bottom p{
	color: #585858;
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
	margin: 0 0 0 25px;
}
.b-finance-row__last{
	margin: 0 0 20px 0;
}
.b-finance-row__last .b-finance-item{
	margin: 0 10px 0 0;
}
.b-finance-row__last .b-finance-item:last-child{
	margin: 0;
}
.finance-pl .b-finance-item{
	margin: 20px 0;
}
.finance-pl .b-finance-row{
	align-items: flex-end;
}

.b-finance-tooltip{
	width: 338px;
    background: rgba(42, 84, 193, 0.89);
	border-radius: 4px;
	padding: 21px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 55px 35px;
	position: relative;
}
.b-finance-tooltip:after{
	position: absolute;
	top: 100%;
	left: 20px;
	content: "";
	background: url(../images/tooltip-arrow.png) no-repeat;
	width: 14px;
	height: 11px;
}
.b-finance-tooltip p{
	margin: 0;
	color: #ffffff;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;	
}

.b-finance-history{
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
}
.b-finance-history__table{
	width: 100%;
}
.b-finance-history__table table{
	width: 100%;
}
.b-finance-history__table table tbody tr:nth-child(odd) td{
	background: #f3fcfc;
}
.b-finance-history__table table tr td{
	text-align: center;
	padding: 12px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 20%;
}
.b-finance-history__table table thead tr td{
	color: #484848;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;	
}
.b-finance-history__table table tbody tr td{

}
.b-finance-history__table table tbody tr td span{
	color: #2a55c1;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
}
.b-finance-history__table table tbody tr td b{
	color: #3f3f3f;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
}
.b-finance-history__right{
	flex-shrink: 0;
	padding: 0 0 0 30px;
	margin: -30px 0 0 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-left: 1px solid #eaeefb;
}
.b-finance-history__right .b-checkbox{
	margin: 20px 0;
}
.b-finance-history__right .b-checkbox:last-child{
	margin: 0;
}

/* -------------- page news -------------- */
.b-news{

}
.b-news-item{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 17px 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}
.b-news-item:nth-child(even){
	background: #f3fcfc;
}
.b-news-item__img{
	flex-shrink: 0;
	margin: 0 20px 0 0;
}
.b-news-item__content{

}
.b-news-item__content span{
	display: block;
	color: #13c6ea;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;	
}
.b-news-item__content b{
	display: block;
	color: #353535;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	margin: 4px 0;
}
.b-news-item__content p{
	margin: 0;
	color: #353638;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;	
}


/* -------------- page career -------------- */