 html{
	height: 100%;
	width: 100%;
}
body{
	margin: 0;
	color: #000000;
	font-size: 14px;
	font-family: 'Ubuntu', sans-serif;
	line-height: normal;
	background: #ffffff;
	position: relative;
	width: 100%;
	min-height: 100%;
	min-width: 320px;
}

.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear: both;
	visibility: hidden;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

h1, h2, h3, h4, h5, h6{
	margin: 0 0 20px 0;
}
h2{
	font-size: 40px;
	line-height: 46px;
	font-weight: 600;
	color: #e1524b;
	text-transform: uppercase;
}
h2 span {

}
p {
	margin: 0 0 20px 0;
	font-size: 14px;
	line-height: 23px;
	font-weight: 400;
	color: #7f8c8c;
}
img{
	display: block;
	max-width: 100%;
}

/*== buttons
---------------------------------*/
button{
	margin:0;
	padding:0;
	border:none;
	background:none;
	cursor:pointer;
	overflow:visible;
	width:auto;
	outline: none;
}
button:hover , button:focus , button:active{
	outline: none;
}
button.button::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
button.button { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
.button{
	display: block;
	position: relative;
	width: 355px;
	height: 48px;
	background: transparent;	
	color: #fefefe;
	font-size: 24px;
	line-height: 26px;
	font-weight: 300;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.button:before{
    position: absolute;
    top: -11px;
    left: -13px;
    content: "";
    width: 368px;
    height: 59px;
    border: 1px solid #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.button:after{
	position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    width: 366px;
    height: 59px;
    border: 1px solid #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.3s;
}
.button:hover{
	background: #384245;
	transition: 0.3s;
}
button:active,
button:focus{
	outline: none;
}

/*== inputs
---------------------------------*/
input{
	outline: none;
	border: none;
}
.input-text,
textarea{
	display: block;
	margin: 0;
	padding: 5px 10px 5px 10px;
	height: 38px;
	width: 100%;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color:#333333;
	resize: none;
	outline: none;
	border: 1px solid #cacaca;
}
.b-input-text::-webkit-input-placeholder{
	color: #666;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}
.b-input-text:-moz-placeholder{
	color: #666;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}
select{
	outline: none;
}
.b-select{
	width: 100%;
	height: 54px;
	border: 1px solid #d6dfcc;    
	color: #323232;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;    
	background: #ffffff url(../images/select-arrow.png);
	background-position: right 15px center;
	background-repeat: no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	-ms-appearance: none;
	appearance: none !important;        
}
.b-input-text{
	outline: none;  
}
textarea{
	height:80px;
}
.fancybox-enabled{
	padding: 0 17px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-container{
	background: #E8E9EA;
}
.fancybox-container{
	z-index: 999999;
}
.wrapper-content{
	width: 1280px;
	margin: 0 auto 0;
	padding: 0 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* End Total css ====*/
.b-mobile{
	display: none;
}
/* -------------- page index -------------- */
.b-header{

}


/* -------------- page b-footer -------------- */
.b-footer{

}
