 html{
	height: 100%;
	width: 100%;
}
body{
	margin: 0;
	color: #000000;
	font-size: 14px;
	font-family: 'Roboto Condensed', sans-serif;
	line-height: normal;
	background: #ffffff;
	position: relative;
	width: 100%;
	min-height: 100%;
	min-width: 320px;
}

.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear: both;
	visibility: hidden;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

h1, h2, h3, h4, h5, h6{
	margin: 0 0 20px 0;
}
h2{
	font-size: 40px;
	line-height: 46px;
	font-weight: 600;
	color: #e1524b;
	text-transform: uppercase;
}
h2 span {

}
p {
	margin: 0 0 20px 0;
	font-size: 14px;
	line-height: 23px;
	font-weight: 400;
	color: #7f8c8c;
}
img{
	display: block;
	max-width: 100%;
}

/*== buttons
---------------------------------*/
button{
	margin:0;
	padding:0;
	border:none;
	background:none;
	cursor:pointer;
	overflow:visible;
	width:auto;
	outline: none;
}
button:hover , button:focus , button:active{
	outline: none;
}
button.button::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
button.button { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
.button{
	display: block;
	position: relative;
	width: 355px;
	height: 48px;
	background: transparent;	
	color: #fefefe;
	font-size: 24px;
	line-height: 26px;
	font-weight: 300;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.button:before{
    position: absolute;
    top: -11px;
    left: -13px;
    content: "";
    width: 368px;
    height: 59px;
    border: 1px solid #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.button:after{
	position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    width: 366px;
    height: 59px;
    border: 1px solid #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.3s;
}
.button:hover{
	background: #384245;
	transition: 0.3s;
}
button:active,
button:focus{
	outline: none;
}

/*== inputs
---------------------------------*/
input{
	outline: none;
	border: none;
}
.input-text,
textarea{
	display: block;
	margin: 0;
	padding: 5px 10px 5px 10px;
	height: 38px;
	width: 100%;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color:#333333;
	resize: none;
	outline: none;
	border: 1px solid #cacaca;
}
.b-input-text::-webkit-input-placeholder{
	color: #666;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}
.b-input-text:-moz-placeholder{
	color: #666;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}
select{
	outline: none;
}
.b-select{
	width: 100%;
	height: 54px;
	border: 1px solid #d6dfcc;    
	color: #323232;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;    
	background: #ffffff url(../images/select-arrow.png);
	background-position: right 15px center;
	background-repeat: no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	-ms-appearance: none;
	appearance: none !important;        
}
.b-input-text{
	outline: none;  
}
textarea{
	height:80px;
}
.fancybox-enabled{
	padding: 0 17px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-container{
	background: #E8E9EA;
}
.fancybox-container{
	z-index: 999999;
}
.wrapper-content{
	width: 1280px;
	margin: 0 auto 0;
	padding: 0 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.row{
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.col{
	padding: 0 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 30px 0;
}
.col-3{
	width: 33.333333%;
}
.col-4{
	width: 25%;
}
.col-6{
	width: 50%;
}
.modal-open{
	padding-right: 17px !important;
}
.modal-open {
	overflow: hidden;
	padding-right: 17px;
	overflow-x: hidden;
	overflow-y: auto; 
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}
.fade {
    transition: opacity .15s linear;
}	
.modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    transform: translate(0,-25%);
}
.modal.show .modal-dialog {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
.modal-backdrop.fade {
    opacity: 0;
}
.modal-backdrop.show {
    opacity: 0.5;
}


/* End Total css ====*/
.b-mobile{
	display: none;
}
/* -------------- page index -------------- */
.b-header{
	background: #252425;
	padding: 14px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-header .wrapper-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.b-logo{
	display: block;
	margin: 0 255px 0 0;
}
.b-nav{

}
.b-nav ul{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.b-nav ul li{
	list-style: none;
	margin: 0 40px 0 0;
}
.b-nav ul li:last-child{
	margin: 0;
}
.b-nav ul li a{
	font-weight: normal;
	font-size: 15px;
	letter-spacing: 0.1em;
	line-height: 17px;
	color: #e8e9ea;
	text-decoration: none;
}
/* -------------- page b-main -------------- */
.b-main{
	height: 750px;
	border-bottom: 1px solid #A2A4A7;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-main > .wrapper-content{
	position: relative;
	height: 100%;
}
.b-main-content{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.b-main-wrap{

}
.b-main-wrap span{
	display: block;
	font-weight: normal;
	font-size: 50px;
	letter-spacing: 0.1em;
	text-align: center;
	line-height: 52px;
	color: #e8e9ea;
	text-shadow: 0px 3px 6px rgba(37, 36, 37, 0.45);
	margin: 0 0 25px 0;
}
h1{
	font-weight: bold;
	font-size: 100px;
	line-height: 102px;
	letter-spacing: 0.1em;
	text-align: center;
	color: #e8e9ea;
	text-shadow: 0px 3px 6px rgba(37, 36, 37, 0.45);
	text-transform: uppercase;
	margin: 0;
}
.b-social{
	margin: 10px 0 0 0;
}
.b-social ul{
	padding: 0;
	margin:0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.b-social ul li{
	list-style: none;
	margin: 0 30px 0 0;
}
.b-social ul li:last-child{
	margin: 0;
}
.b-social ul li a{
	border: 1px solid #252425;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	text-decoration: none;
	color: #252425;
	font-size: 15px;
	line-height: 17px;
}
.b-mouse-ico{
	background: url(../images/mouse.svg) no-repeat;
	width: 21px;
	height: 30px;
	position: absolute;
	bottom: 52px;
	left: 50%;
	margin: 0 0 0 -10.5px;
}
/* -------------- page b-works -------------- */
.b-works{

}
.b-title{
	text-align: center;
	position: relative;
	margin: 25px 0 20px 0;
}
.b-title:after{
	position: absolute;
	bottom: 0;
	left: 50%;
	content: "";
	width: 100px;
	height: 1px;
	background: #A2A4A7;
	margin: 0 0 0 -50px;
}
h2{
	font-weight: normal;
	font-size: 27px;
	letter-spacing: 0.1em;
	line-height: 32px;
	text-align: center;
	color: #252425;
	margin: 0;
	text-transform: uppercase;
}
.b-works-item{
	position: relative;
}
.b-works-item__text{
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	background: rgba(37, 36, 37, 0.55);
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}
.b-works-item__text p{
	margin: 0;
	font-weight: normal;
	font-size: 33px;
	letter-spacing: 0.1em;
	line-height: 34px;
	text-align: center;
	color: #e8e9ea;
}
.b-works-item__text span{
	font-weight: normal;
	font-size: 20px;
	letter-spacing: 0.1em;
	line-height: 22px;
	text-align: center;
	color: #e8e9ea;
}
.b-foto__name{
	position: absolute;
	top: 5px;
	right: 10px;
	font-weight: normal;
	font-size: 14px;
	letter-spacing: 0.1em;
	line-height: 16px;
	color: #e8e9ea;
}

/* -------------- page b-footer -------------- */
.b-footer{
	background: url(../images/footer-bg.svg) no-repeat #252425;
	background-position: left 50% center;
	padding: 30px 0 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-footer-top{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.b-footer-left{

}
.b-footer-nav{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0 0 20px 0;
}
.b-footer-nav ul{
	padding: 0;
	margin: 0 40px 0 0;
}
.b-footer-nav ul:last-child{
	margin: 0;
}
.b-footer-nav ul li{
	list-style: none;
}
.b-footer-nav ul li a{
	font-weight: normal;
	font-size: 15px;
	letter-spacing: 0.1em;
	line-height: 32px;
	text-align: left;
	color: #e8e9ea;
	text-decoration: none;
}
.b-footer-left ul li a{
	border-color: #fff;
	color: #ffffff;
}
.b-footer-right{

}
.b-footer-logo{
	display: flex;
	justify-content: flex-end;
	margin: 0 0 20px 0;
}
.b-footer-phone{
	display: block;
	font-weight: bold;
	font-size: 24px;
	letter-spacing: 0.1em;
	line-height: 26px;
	color: #e8e9ea;
	text-decoration: none;
}
.b-footer-contacts{
	margin: 29px 0 0 0;
}
.b-footer-contacts ul{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}
.b-footer-contacts ul li{
	list-style: none;
	margin: 0 30px 0 0;
}
.b-footer-contacts ul li:last-child{
	margin: 0;
}
.b-footer-contacts ul li a{
	border: 1px solid #E8E9EA;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	line-height: 22px;
	color: #ffffff;
	text-decoration: none;
}
.b-footer-bottom{
	border-top: 1px solid #707070;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px 0;
	margin: 30px 0 0 0;
}
.b-footer-bottom > .wrapper-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.b-footer-links{

}
.b-footer-links ul{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.b-footer-links ul li{
	list-style: none;
	font-weight: normal;
	font-size: 15px;
	line-height: 17px;
	letter-spacing: 0.1em;
	color: #707070;
	padding: 0 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}
.b-footer-links ul li a{
	font-weight: normal;
	font-size: 15px;
	line-height: 17px;
	letter-spacing: 0.1em;
	color: #E8E9EA;
	text-decoration: none;
}
.b-copyright{
	font-weight: normal;
	font-size: 15px;
	letter-spacing: 0.1em;
	line-height: 17px;
	color: #e8e9ea;
}
/* -------------- page event__page -------------- */
.b-main-nav{
	padding: 17px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-main-nav ul{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.b-main-nav ul li{
	list-style: none;
}
.b-main-nav ul li a{
	font-weight: normal;
	font-size: 15px;
	letter-spacing: 0.1em;
	line-height: 17px;
	color: #252425;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-right: 2px solid #252425;
	text-decoration: none;
}
.b-main-nav ul li:first-child a{
	border-left: 2px solid #252425;
}

.b-main__inner{
	background: #252425;
}
.b-main__inner .b-social ul li a{
	color: #ffffff;
	border-color: #fff;
}
.b-main__inner h1{
	color: #e8e9ea;
	text-shadow: 0px 3px 6px rgba(37, 36, 37, 0.45);
}
.b-main__inner .b-mouse-ico{
	background: url(../images/mouse2.svg);
}

/* -------------- page blog__page -------------- */
.b-blog{
	padding: 0 0 31px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-blog-content{
	padding: 0 0 30px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-blog-item{
	margin: 0 0 64px 0;
}
.b-blog-item:last-child{
	margin: 0;
}
.b-blog-item__img{
	position: relative;
	margin: 0 0 5px 0;
}
.b-blog-item__text{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.b-blog-item__text span{
	font-weight: bold;
	font-size: 45px;
	line-height: 49px;
	letter-spacing: 0.1em;
	text-align: center;
	color: #e8e9ea;
	text-shadow: 0px 3px 6px rgba(37, 36, 37, 0.45);
}
.b-blog-item__content{
	margin: 0 0 8px 0;
}
.b-blog-item__content span{
	display: block;
	font-weight: normal;
	font-size: 14px;
	letter-spacing: 0.1em;
	line-height: 22px;
	color: #a2a4a7;
	margin: 0 0 11px 0;
}
.b-blog-item__content p{
	margin: 0 0 20px 0;
	font-weight: normal;
	font-size: 14px;
	letter-spacing: 0.1em;
	line-height: 21px;
	color: #252425;
}
.b-blog-item__content p:last-child{
	margin: 0;
}
.b-blog-item__bottom{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.btn-read{
	width: 145px;
	height: 36px;
	background: transparent;
	border: 1px solid #252425;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: normal;
	font-size: 17px;
	letter-spacing: 0.1em;
	text-align: center;
	line-height: 17px;
	color: #252425;
	transition: 0.3s;

}
.btn-read:hover{
	background: #252425;
	color: #ffffff;
	transition: 0.3s;
}
.btn-more{
	width: 100%;
	height: 36px;
	background: transparent;
	border: 1px solid #252425;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: normal;
	font-size: 17px;
	letter-spacing: 0.1em;
	text-align: center;
	line-height: 17px;
	color: #252425;
	transition: 0.3s;	
}
.btn-more:hover{
	background: #252425;
	color: #ffffff;
	transition: 0.3s;
}
/* -------------- page blog-inner__page -------------- */
.b-blog-item__wrap{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.b-rating{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.btn-rating{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: #a2a4a7;
	margin: 0 12px 0 0;
}
.btn-rating:last-child{
	margin: 0;
}
.btn-rating span{
	font-weight: normal;
	font-size: 14px;
	letter-spacing: 0.1em;
	line-height: 16px;
	margin: 0 5px 0 0;
}
.btn-rating i{
	font-size: 19px;
	line-height: 21px;
}
.btn-rating:hover{
	color: #000000;
}
.btn-rating:last-child i{
	margin: 4px 0 0 0;
}
.b-blog-btns{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 30px 0 0 0;
}
.btn-back{
	width: 145px;
	height: 36px;
	background: transparent;
	border: 1px solid #252425;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: normal;
	font-size: 17px;
	letter-spacing: 0.1em;
	text-align: center;
	line-height: 17px;
	color: #252425;
	transition: 0.3s;		
	display: block;
	margin: 0 30px 0 0;
}
.btn-back:hover{
	background: #252425;
	color: #ffffff;
	transition: 0.3s;
}
.btn-comment{
	width: 145px;
	height: 36px;
	background: #252425;
	font-weight: normal;
	font-size: 17px;
	letter-spacing: 0.1em;
	line-height: 19px;
	text-align: center;
	color: #e8e9ea;
	display: block;
}
.modal-dialog{
	width: 804px;
	background: #E8E9EA;
	margin: 70px auto 0;
	padding: 28px 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-modal-input{
	width: 100%;
	height: 30px;
	background: transparent;
	padding: 0 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: normal;
	font-size: 17px;
	letter-spacing: 0.1em;
	line-height: 20px;
	text-align: left;
	color: #252425;
	border-bottom: 1px solid #252425;
	margin: 0 0 10px 0;
}
.b-modal-input::-webkit-input-placeholder{
	font-weight: normal;
	font-size: 17px;
	letter-spacing: 0.1em;
	line-height: 20px;
	text-align: left;
	color: #a2a4a7;
}
.b-modal-input:-moz-placeholder{
	font-weight: normal;
	font-size: 17px;
	letter-spacing: 0.1em;
	line-height: 20px;
	text-align: left;
	color: #a2a4a7;
}
.b-modal-textarea{
	width: 100%;
	height: 111px;
	border-radius: 3px;
	background: transparent;
	border: 1px solid #252425;
	padding: 8px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: normal;
	font-size: 17px;
	letter-spacing: 0.1em;
	line-height: 20px;
	text-align: left;
	color: #252425;	
	margin: 15px 0 0 0;
}
.b-modal-textarea::-webkit-input-placeholder{
	font-weight: normal;
	font-size: 17px;
	letter-spacing: 0.1em;
	line-height: 20px;
	text-align: left;
	color: #a2a4a7;
}
.b-modal-textarea:-moz-placeholder{
	font-weight: normal;
	font-size: 17px;
	letter-spacing: 0.1em;
	line-height: 20px;
	text-align: left;
	color: #a2a4a7;
}
.b-contacts-btn{
	width: 145px;
	height: 36px;
	background: #252425;
	font-weight: normal;
	font-size: 17px;
	letter-spacing: 0.1em;
	text-align: center;
	color: #e8e9ea;
	line-height: 19px;
	border: 1px solid rgba(0, 0, 0, 0);
	transition: 0.3s;
	cursor: pointer;
	display: block;
	margin: 30px auto 0;
}
.b-contacts-btn:hover{
	transition: 0.3s;
	background: transparent;
	border-color: #252425;
	color: #252425;
}
.b-comments{
	padding: 0 0 30px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-comments-item{
	margin: 0 0 25px 0;
}
.b-comments-item:last-child{
	margin: 0;
}
.b-comments-item__name{
	display: block;
	margin: 0 0 10px 0;
	font-weight: bold;
	font-size: 17px;
	letter-spacing: 0.1em;
	line-height: 21px;
	color: #252425;
}
.b-comments-item p{
	font-weight: 400;
	font-size: 17px;
	letter-spacing: 0.1em;
	line-height: 21px;
	color: #252425;
	margin: 0;
}
/* -------------- page about -------------- */
.b-about{
	min-height: 610px;
}
.b-about-item{

}
.b-about-item img{
	margin: 0 auto 0;
}
/* -------------- page contacts -------------- */
.b-contacts{
	background: #252425;
	padding: 25px 0 50px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.b-contacts .b-title{
	padding: 0;
	margin: 0 0 25px 0;	
}
.b-contacts .b-title h2{
	color: #e8e9ea;
}
h3{
	font-weight: bold;
	font-size: 55px;
	letter-spacing: 0.1em;
	text-align: center;
	line-height: 60px;
	color: #e8e9ea;
	text-shadow: 0px 3px 6px rgba(37, 36, 37, 0.45);
	margin: 65px 0 62px 0;
}
.b-contacts-row{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.b-contacts-item{
	width: 100%;
	border-bottom: 3px solid #e8e9ea;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 30px 0 0;
}
.b-contacts-item:last-child{
	margin: 0;
}
.b-contacts-item__ico{
	margin: 0 0 26px 0;
}
.b-contacts-item__ico img{
	margin: 0 auto 0;
}
.b-contacts-item span{
	font-weight: normal;
	font-size: 27px;
	letter-spacing: 0.1em;
	line-height: 32px;
	text-align: center;
	color: #e8e9ea;
	display: block;
	text-align: center;
}
.b-contacts-item a{
	font-weight: normal;
	font-size: 27px;
	letter-spacing: 0.1em;
	line-height: 32px;
	text-align: center;
	color: #e8e9ea;
	display: block;
	text-align: center;
	text-decoration: none;
}
.b-contacts .b-social{
	margin: 30px 0;
}
.b-contacts .b-social ul li a{
	color: #ffffff;
	border-color: #ffffff;
}
.btn-messege{
	width: 145px;
	height: 36px;
	background: #e8e9ea;
	border: 1px solid #e8e9ea;
	font-weight: normal;
	font-size: 17px;
	line-height: 19px;
	letter-spacing: 0.1em;
	text-align: center;
	color: #252425;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	margin: 0 auto 0;
	transition: 0.3s;	
}
.btn-messege:hover{
	transition: 0.3s;	
	background: #d8d8d8;
}
#map{
	width: 100%;
	height: 350px;
}
.b-contacts-mouse{
	width: 22px;
	height: 30px;
	background: url(../images/mouse2.svg) no-repeat center;
	margin: 31px auto 0;
}